.grids {
  width: 100%;
  display: block;
  padding: 0;
}

.grids.wide {
  max-width: 1200px;
  margin: 0 auto;
}

/* -------------- Custom for colum -------------- */

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* -------------- >= Tablet -------------- */

@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .num-0 {
    display: none;
  }
  .num-1,
  .num-2,
  .num-3,
  .num-4,
  .num-5,
  .num-6,
  .num-7,
  .num-8,
  .num-9,
  .num-10,
  .num-11,
  .num-12 {
    display: block;
  }
  .num-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .num-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .num-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .num-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .num-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .num-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .num-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .num-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .num-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .num-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .num-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .num-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .num-o-1 {
    margin-left: 8.33333%;
  }
  .num-o-2 {
    margin-left: 16.66667%;
  }
  .num-o-3 {
    margin-left: 25%;
  }
  .num-o-4 {
    margin-left: 33.33333%;
  }
  .num-o-5 {
    margin-left: 41.66667%;
  }
  .num-o-6 {
    margin-left: 50%;
  }
  .num-o-7 {
    margin-left: 58.33333%;
  }
  .num-o-8 {
    margin-left: 66.66667%;
  }
  .num-o-9 {
    margin-left: 75%;
  }
  .num-o-10 {
    margin-left: 83.33333%;
  }
  .num-o-11 {
    margin-left: 91.66667%;
  }
}

/* -------------- PC medium resolution > -------------- */

@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .one-0 {
    display: none;
  }
  .one-1,
  .one-2,
  .one-2-4,
  .one-3,
  .one-4,
  .one-5,
  .one-6,
  .one-7,
  .one-8,
  .one-9,
  .one-10,
  .one-11,
  .one-12 {
    display: block;
  }
  .one-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .one-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .one-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .one-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .one-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .one-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .one-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .one-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .one-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .one-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .one-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .one-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .one-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .one-o-1 {
    margin-left: 8.33333%;
  }
  .one-o-2 {
    margin-left: 16.66667%;
  }
  .one-o-3 {
    margin-left: 25%;
  }
  .one-o-4 {
    margin-left: 33.33333%;
  }
  .one-o-5 {
    margin-left: 41.66667%;
  }
  .one-o-6 {
    margin-left: 50%;
  }
  .one-o-7 {
    margin-left: 58.33333%;
  }
  .one-o-8 {
    margin-left: 66.66667%;
  }
  .one-o-9 {
    margin-left: 75%;
  }
  .one-o-10 {
    margin-left: 83.33333%;
  }
  .one-o-11 {
    margin-left: 91.66667%;
  }
}

/* -------------- Tablet - PC low resolution -------------- */

@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
  .row.width {
    width: 644px;
  }
}

/* -------------- > PC low resolution -------------- */

@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .row.width {
    width: 984px;
  }
  .wide .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wide .one-0 {
    display: none;
  }
  .wide .one-1,
  .wide .one-2,
  .wide .one-2-4,
  .wide .one-3,
  .wide .one-4,
  .wide .one-5,
  .wide .one-6,
  .wide .one-7,
  .wide .one-8,
  .wide .one-9,
  .wide .one-10,
  .wide .one-11,
  .wide .one-12 {
    display: block;
  }
  .wide .one-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .one-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .one-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .wide .one-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .one-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .one-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .one-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .one-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .one-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .one-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .one-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .one-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .one-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .one-o-1 {
    margin-left: 8.33333%;
  }
  .wide .one-o-2 {
    margin-left: 16.66667%;
  }
  .wide .one-o-3 {
    margin-left: 25%;
  }
  .wide .one-o-4 {
    margin-left: 33.33333%;
  }
  .wide .one-o-5 {
    margin-left: 41.66667%;
  }
  .wide .one-o-6 {
    margin-left: 50%;
  }
  .wide .one-o-7 {
    margin-left: 58.33333%;
  }
  .wide .one-o-8 {
    margin-left: 66.66667%;
  }
  .wide .one-o-9 {
    margin-left: 75%;
  }
  .wide .one-o-10 {
    margin-left: 83.33333%;
  }
  .wide .one-o-11 {
    margin-left: 91.66667%;
  }
}
