@import url(index.css);

.home--background {
  background: url('https://tranhoangkhang1212.github.io/travelix/assets/images/contact_bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
}

.offers-container {
  background: #fff;
}

.offers-container-filter > ul > li {
  list-style: none;
  display: inline-block;
  height: 50px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(45, 44, 44);
  text-transform: uppercase;
  line-height: 50px;
  cursor: pointer;
  border: 2px solid rgb(218, 218, 218);
  padding-left: 25px;
  padding-right: 14px;
  margin-right: 16px;
  position: relative;
  margin-bottom: 20px;
}

.offers-container-filter li .i {
  padding-left: 55px;
  line-height: 48px;
  color: rgb(146, 145, 145);
}

.offers-container-filter--list {
  display: block;
  position: absolute;
  right: 0;
  top: 106%;
  margin: 0;
  width: 100%;
  background: #fff;
  display: none;
  z-index: 1;
  box-shadow: 0 15px 25px rgb(63 78 100 / 15%);
  animation: transalate 0.5s linear;
}

@keyframes transalate {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.offers-container-filter > ul > li:hover .offers-container-filter--list {
  display: block;
}

.offers-container-filter--list li {
  list-style: none;
  text-align: center;
  padding: 0 15px;
}

.offers-container-filter--list li:hover {
  opacity: 0.7;
}

.offers-container-filter--list li span {
  display: block;
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px #ddd;
  color: #51545f;
  text-align: left;
  transition: all 0.3s ease;
}

.offer-container-item {
  margin-top: 50px;
}

.offer-container-item-review {
  position: absolute;
  right: 3%;
  display: flex;
  align-items: center;
}

.offer-container-item-review--text h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black);
}

.offer-container-item-review--text span {
  font-weight: 600;
}

.offer-container-item-review > span {
  color: var(--white-color);
  font-size: 28px;
  font-weight: 700;
  background-color: var(--yellow);
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: default;
}

.offers-btn {
  height: 50px;
  width: 200px;
  background-color: var(--btn-black);
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  line-height: 50px;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  cursor: pointer;
  float: right;
}

.offers-btn:hover {
  opacity: 0.8;
}

.offers-btn a {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 10px;
  margin-top: 0;
}

.offers-btn a:hover {
  color: var(--white-color);
}

.offers-btn span {
  display: inline-block;
  vertical-align: middle;
  width: 5.75px;
  height: 5.63px;
  background: #fff;
  border-radius: 50%;
  margin-right: 2px;
}

.offers-btn span:nth-child(3) {
  opacity: 0.6;
  margin-left: 0;
}

.offers-btn span:last-child {
  opacity: 0.4;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 740px) {
  .offers-container-filter ul {
    padding: 0 15px;
  }
  .offer-item__img--container {
    height: calc((100vw - 30px) / 0.974);
  }
  .offer-container-item--content {
    margin-top: 20px;
  }
}

@media (max-width: 479px) {
  .home-title h1 {
    font-size: 30px;
  }

  .offers-container-filter--list {
    animation: none;
  }
  .offer-container-item-review {
    right: 4%;
  }
}
